/* Asterix wildcard selector used to override default styles added by the browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General stylerules */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
}

/* Header */
header {
    background-color: aqua;
}

/* Main Content */
main {
    background-color: blueviolet;
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: red;
}