/* Asterix wildcard selector used to override default styles added by the browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header {
    background-color: aqua;
}

/* Main Content */
main {
    background-color: blueviolet;
}

/* Footer */
footer {
    background-color: red;
}